// footer
.footer {
  background-color: var(--footer-bg-color);
}

.footer__general {
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: 'Roboto', sans-serif;
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.16;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @include desktop {
    justify-content: center;
  }
}

.footer__first {
  margin-bottom: 10px;
  @include tablet {
    margin-bottom: 0px;
  }
}

.footer__second {
  display: flex;
  gap: 10px;
  @include tablet {
    margin-left: 3px;
  }
}

.footer__heart {
  fill: var(--accent-color);
}

.modal__footer {
  text-decoration: underline;
}
