// global
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}
.document__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.document__wrap main {
  flex: 1 1 auto;
}
