.wrap {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding: 60px 12px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 44px;
  }
}
.moviesgallery-box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
.moviesgallery-wrap {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((768px - 96px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((1280px - 96px) / 3);
  }
  cursor: pointer;
}

.moviesgallery-img {
  border-radius: 5px;
  filter: grayscale(0.15);
  transition: transform 0.3s ease-in-out, filter 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.035);
    filter: grayscale(0);
  }
  @media screen and (min-width: 768px) {
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}
.thumb {
  overflow: hidden;
  border-radius: 5px;
}
.moviesgallery-text {
  margin-top: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}
.moviesgallery-text-title {
  text-transform: uppercase;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }
}

.moviesgallery-text .text {
  line-height: 1.33;
  color: #ff6b08;
}
.moviesgallery-item {
  @media screen and (min-width: 1280px) {
  //  
  }
}
.ganres-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;

  background-color: #ff6b08;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  line-height: 1.13;
  color: white;
  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 20px;
  }
}

.moviesgallery--library {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}
