// pagination
// .tui-pagination {
//   display: flex;
//   justify-content: center;
// }
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#pagination .tui-page-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: $dark-color;
  &.tui-prev,
  &.tui-next {
    background-color: $footer-bg-color;
  }
  & .tui-ico-ellip {
    margin: 0;
  }
  &.tui-is-selected {
    background: var(--accent-color);
    color: $light-color;
  }
  @media screen and (min-width: 400px) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}
// .tui-pagination .tui-page-btn.tui-first {
//   & .tui-ico-first {
//     background-image: none;
//   }
// }
