@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-color: #ff6b08;
  --primary-bg-color: #ffffff;
  --footer-bg-color: #f7f7f7;
  --footer-text-color: #545454;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

/*Контейнер*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.moviesgallery-box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .moviesgallery-box {
    gap: 16px;
  }
}

.moviesgallery-wrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .moviesgallery-wrap {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .moviesgallery-wrap {
    width: 368px;
  }
}

.moviesgallery-wrap > img {
  border-radius: 5px;
}

.moviesgallery-text {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.moviesgallery-text-title {
  text-transform: uppercase;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .moviesgallery-text-title {
    line-height: 1.33;
  }
}

.moviesgallery-text .text {
  line-height: 1.33;
  color: #FF6B08;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .films-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list {
    gap: 15px;
  }
}

.footer__general {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.16;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__text {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    justify-content: center;
  }
}

.footer__first {
  margin-bottom: 10px;
}

.footer__second {
  display: flex;
  gap: 10px;
}

.footer__heart {
  fill: var(--accent-color);
}

.modal__footer {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */