@mixin smartphone {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin flexCentered($type: flex, $justf: center, $align: center) {
  display: $type;
  justify-content: $justf;
  align-items: $align;
}

@mixin textStyle($size, $height, $ltr-spc: 0.04em) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $ltr-spc;
}