<header class="header">
  <div class="container">
    <div class="container__wrap">
    <nav class="header__menu">
      <div class="header__logo">
        <a class="header__logo-link link" href="./index.html">
          <div class="header__menu-wrap">
            <svg class="header__logo-svg" width="24" height="24">
              <use href="/src/images/new-symbol-defs.svg#icon-film"></use>
            </svg>
          <span class="header__logo-name">Filmoteka</span> 
          </div>
        </a>
      </div>
      <ul class="header__list">
        <li class="header__list-item current">
          <a class="header__list-link" href="./index.html">home</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link" href="./library.html" id="btnLibrary">my library</a>
        </li>
        <li class="header__list-item">
          <a class="header__list-link visually-hidden" href="./index.html" id="btnFirebase">
              <svg class="header__logo-svg" width="18" height="18">
                <use href="/src/images/new-symbol-defs.svg#icon-exit"></use>
              </svg>
          </a>
        </li>
      </ul>
    </nav>
    <form class="header__form">
      <div class="header__form-wrap">
      <input class="header__form-input" type="text" name="movie-search" placeholder="Movie search" required/>
      <span class="header__form-icon">
        <svg class="header__logo-svg" width="12" height="12">
          <use href="/src/images/new-symbol-defs.svg#icon-search"></use>
        </svg>
      </span>
      <button class="header__form-button" type="submit">OK</button>
      </div>
      <div class="header__form-text visually-hidden">Search result not successful. Enter the correct movie name and try again!</div>
    </form>
  </div>
  </div>
</header>
