<header class="header header__library" id="library">
  <div class="container">
    <div class="container__wrap">
      <nav class="header__menu">
        <div class="header__logo">
          <a class="header__logo-link ink" href="./index.html">
            <div class="header__logo-wrap">
              <svg class="header__logo-svg" width="24" height="24">
                <use href="/src/images/new-symbol-defs.svg#icon-film"></use>
              </svg>
              <span class="header__logo-name">Filmoteka</span>
            </div>
          </a>
        </div>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link" href="./index.html">home</a>
          </li>
          <li class="header__list-item current">
            <a class="header__list-link" href="./library.html" id="btnLibrary"
              >my library</a
            >
          </li>
          <li class="header__list-item">
            <button class="header__list-link" id="btnSignOut">
              <svg class="header__logo-svg" width="18" height="18">
                <use href="/src/images/new-symbol-defs.svg#icon-exit"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>

      <div class="filter__wrap">
        <ul class="filter__list">
          <li class="filter__item">
            <button
              class="button light active filter__button button_library"
              data-action="watchedFilms"
              data-active="watched"
            >
              <span class="filter__text"> watched </span>
            </button>
          </li>
          <li class="filter__item">
            <button
              data-active="queue"
              data-action="queueFilms"
              class="button light filter__button"
            >
              <span class="filter__text"> queue </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <include src="./partials/theme.html"></include>
</header>
