<header class="header header__library">
  <div class="container">
    <div class="container__wrap">
      <nav class="header__menu">
        <div class="header__logo">
          <a class="header__logo-link ink" href="./index.html">
            <div class="header__logo-wrap">
              <!--           <svg class="header__logo-svg" width="24" height="24">
            <use href="./images/film-logo.svg"></use>
          </svg> -->

              <svg
                class="header__logo-svg"
                width="24"
                height="24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
              >
                <title>film-logo</title>
                <path
                  fill="none"
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-miterlimit="4"
                  stroke-width="2.6667"
                  stroke="var(--primary-bg-color)"
                  d="M26.427 2.667h-20.853c-1.605 0-2.907 1.301-2.907 2.907v0 20.853c0 1.605 1.301 2.907 2.907 2.907v0h20.853c1.605 0 2.907-1.301 2.907-2.907v0-20.853c0-1.605-1.301-2.907-2.907-2.907v0zM9.333 2.667v26.667M22.667 2.667v26.667M2.667 16h26.667M2.667 9.333h6.667M2.667 22.667h6.667M22.667 22.667h6.667M22.667 9.333h6.667"
                ></path>
              </svg>

              <span class="header__logo-name">Filmoteka</span>
            </div>
          </a>
        </div>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__list-link" href="./index.html">home</a>
          </li>
          <li class="header__list-item current">
            <a class="header__list-link" href="./library.html">my library</a>
          </li>
        </ul>
      </nav>

      <div class="filter__wrap">
        <ul class="filter__list">
          <li class="filter__item">
            <button
              data-active="watched"
              class="button light active filter__button"
            >
              <span class="filter__text"> watched </span>
            </button>
          </li>
          <li class="filter__item">
            <button data-active="queue" class="button light filter__button">
              <span class="filter__text"> queue </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
