<main>
  <!--don't delete this-->
  <div style="display: inline-block; border: 1px solid #242424">
    <h1>Let's do this!!!!</h1>
    <ul class="list" style="display: flex; gap: 30px; padding: 30px">
      <li><a href="./index.html">home</a></li>
      <li><a href="./library.html">library</a></li>
    </ul>
  </div>
  <!--main-->
  <!--add code under this line-->
  <section class="section">
    <div class="container">
      <div class="wrap">
        <ul class="moviesgallery list moviesgallery-box"></ul>
      </div>
    </div>
  </section>
</main>
