<main>
  <!--main-->
  <!--add code under this line-->

  <section class="section">
    <div class="container">
      <section class="splide" aria-label="Slider">
        <nav class="navigation splide__track navigation__genre">
          <ul class="splide__list">
            <li class="splide__slide navigation__item upper">Action</li>
            <li class="splide__slide navigation__item upper">Adventure</li>
            <li class="splide__slide navigation__item upper">Animation</li>
            <li class="splide__slide navigation__item upper">Comedy</li>
            <li class="splide__slide navigation__item upper">Crime</li>
            <li class="splide__slide navigation__item upper">Documentary</li>
            <li class="splide__slide navigation__item upper">Drama</li>
            <li class="splide__slide navigation__item upper">Family</li>
            <li class="splide__slide navigation__item upper">Fantasy</li>
            <li class="splide__slide navigation__item upper">History</li>
            <li class="splide__slide navigation__item upper">Horror</li>
            <li class="splide__slide navigation__item upper">Music</li>
            <li class="splide__slide navigation__item upper">Mystery</li>
            <li class="splide__slide navigation__item upper">Romance</li>
            <li class="splide__slide navigation__item upper">
              Science Fiction
            </li>
            <li class="splide__slide navigation__item upper">TV Movie</li>
            <li class="splide__slide navigation__item upper">Thriller</li>
            <li class="splide__slide navigation__item upper">War</li>
            <li class="splide__slide navigation__item upper">Western</li>
          </ul>
        </nav>
      </section>

      <!-- <nav class="navigation">
        <ul class="navigation__genre">
          <li class="navigation__item upper">Action</li>
          <li class="navigation__item upper">Adventure</li>
          <li class="navigation__item upper">Animation</li>
          <li class="navigation__item upper">Comedy</li>
          <li class="navigation__item upper">Crime</li>
          <li class="navigation__item upper">Documentary</li>
          <li class="navigation__item upper">Drama</li>
          <li class="navigation__item upper">Family</li>
          <li class="navigation__item upper">Fantasy</li>
          <li class="navigation__item upper">History</li>
          <li class="navigation__item upper">Horror</li>
          <li class="navigation__item upper">Music</li>
          <li class="navigation__item upper">Mystery</li>
          <li class="navigation__item upper">Romance</li>
          <li class="navigation__item upper">Science Fiction</li>
          <li class="navigation__item upper">TV Movie</li>
          <li class="navigation__item upper">Thriller</li>
          <li class="navigation__item upper">War</li>
          <li class="navigation__item upper">Western</li>
        </ul>
      </nav> -->
      <div class="wrap">
        <ul class="moviesgallery list moviesgallery-box"></ul>
      </div>
    </div>
  </section>
  <include src="./partials/pagination.html"></include>
</main>
