<main>
  <!--don't delete this-->
  <div style="display: inline-block; border: 1px solid #242424">
    <h1>Let's do this!!!!</h1>
    <ul class="list" style="display: flex; gap: 30px; padding: 30px">
      <li><a href="./index.html">home</a></li>
      <li><a href="./library.html">library</a></li>
    </ul>
  </div>
  <!--main-->
  <!--add code under this line-->
  <section class="section">
    <div class="container">
      <ul class="moviesgallery list moviesgallery-box">
        <!-- <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li>
          <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li>
          <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li>
          <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li>
          <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li>
          <li class="moviesgallery-item">
            <div class="moviesgallery-wrap">
              <img src="/src/images/Rectangle 5.jpg" alt="" width="440" />
              <div class="moviesgallery-text">
                <p class="moviesgallery-text-title">greyhound</p>
                <p class="text">Drama, Action | 2020</p>
              </div>
            </div>
          </li> -->
      </ul>
    </div>
  </section>
  <section class="films-section">
    <div class="container">
      <h2 class="visually-hidden">Films</h2>
      <ul class="film-list"></ul>
    </div>
  </section>
</main>
