<div>
  <!--modal-team-->
  <!--add code under this line-->
  <div class="modal__btn">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="20" height="20"></svg>
    </button>
  </div>
  <div class="team">
    <h2 class="team__logo">GoIT Students</h2>
    <div class="team__container">
      <ul class="team__list">
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Oleksii_Rozhnenko.jpg"
              alt="Oleksii Rozhnenko"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Oleksii Rozhnenko</h3>
          <p class="team__profession">Team-lead</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Vladislav_Ushakov.jpg"
              alt="Vladislav Ushakov"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Vladislav Ushakov</h3>
          <p class="team__profession">Scrum-master</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Volodymyr_Kyrychuk.jpg"
              alt="Volodymyr Kyrychuk"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Volodymyr Kyrychuk</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Sergii_Tsymbal.jpg"
              alt="Sergii Tsymbal"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Sergii Tsymbal</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Evgen_Vlasenko.jpg"
              alt="Evgen Vlasenko"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Evgen Vlasenko</h3>
          <p class="team__profession">Developer</p>
        </li>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Daria.jpg"
              alt="Daria"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Daria</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img class="team__img" alt="Игорь Бойко" width="200" height="150" />
          </div>
          <h3 class="team__name">Игорь Бойко</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              alt="Власенко Євген"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Власенко Євген</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img 
              class="team__img" 
              src="/src/images/team/Serhii_Halaka.jpg"
              alt="Serhii Halaka" 
              width="200" 
              height="150" />
          </div>
          <h3 class="team__name">Serhii Halaka</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img class="team__img" alt="Игорь" width="200" height="150" />
          </div>
          <h3 class="team__name">Игорь</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Kostiantyn_Kuz.jpg"
              alt="Kostiantyn Kuz"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Kostiantyn Kuz</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Dmitry_Kucherenko.jpg"
              alt="Dmitry Kucherenko"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Dmitry Kucherenko</h3>
          <p class="team__profession">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
