<div>
  <!--modal-team-->
  <!--add code under this line-->
  <div class="modal__btn">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="20" height="20"></svg>
    </button>
  </div>
  <div class="team">
    <h2 class="team__logo">GoIT Students</h2>
    <div class="team__container">
      <ul class="team__list">
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Oleksii_Rozhnenko.jpg"
              alt="Oleksii Rozhnenko"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Oleksii Rozhnenko</h3>
          <p class="team__profession">Team-lead</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              alt="Владислав Ушаков"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Владислав Ушаков</h3>
          <p class="team__profession">Scrum-master</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Volodymyr_Kyrychuk.jpg"
              alt="Volodymyr Kyrychuk"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Volodymyr Kyrychuk</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Sergii_Tsymbal.jpg"
              alt="Sergii Tsymbal"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Sergii Tsymbal</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              src="/src/images/team/Evgen_Vlasenko.jpg"
              alt="Evgen Vlasenko"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Evgen Vlasenko</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img class="team__img" alt="Игорь Бойко" width="200" height="150" />
          </div>
          <h3 class="team__name">Игорь Бойко</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              alt="Власенко Євген"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Власенко Євген</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img class="team__img" alt="SergH1980" width="200" height="150" />
          </div>
          <h3 class="team__name">SergH1980</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img class="team__img" alt="Игорь" width="200" height="150" />
          </div>
          <h3 class="team__name">Игорь</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              alt="Костянтин Кузь"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Костянтин Кузь</h3>
          <p class="team__profession">Developer</p>
        </li>
        <li class="team__item">
          <div class="team__img-container">
            <img
              class="team__img"
              alt="Дмитрий Кучеренко"
              width="200"
              height="150"
            />
          </div>
          <h3 class="team__name">Дмитрий Кучеренко</h3>
          <p class="team__profession">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
