<div class="modal-container is-hidden js-modal-team app">
  <div class="team__modal team__modal-adapt">
    <div class="modal__btn">
      <button
        type="button"
        class="modal__close-btn js-modal-close"
        aria-label="Add to cart"
      >
        <svg class="modal__close-icon" width="25" height="25">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            xml:space="preserve"
          >
            <path
              d="M512 59.076 452.922 0 256 196.922 59.076 0 0 59.076 196.922 256 0 452.922 59.076 512 256 315.076 452.922 512 512 452.922 315.076 256z"
            />
          </svg>
        </svg>
      </button>
    </div>
    <div class="team">
      <h2 class="team__logo">Our Team</h2>
      <div class="team__container">
        <ul class="team__list">
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Oleksii_Rozhnenko.jpg"
                alt="Oleksii Rozhnenko"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Oleksii Rozhnenko</h3>
            <p class="team__profession">Team-lead</p>
            <a
              class="team__social"
              href="https://github.com/Qwimik"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Vladislav_Ushakov.jpg"
                alt="Vladislav Ushakov"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Vladislav Ushakov</h3>
            <p class="team__profession">Scrum-master</p>
            <a
              class="team__social"
              href="https://github.com/VladislavUshakov"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Volodymyr_Kyrychuk.jpg"
                alt="Volodymyr Kyrychuk"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Volodymyr Kyrychuk</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/VovaKyrychuk"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Sergii_Tsymbal.jpg"
                alt="Sergii Tsymbal"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Sergii Tsymbal</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Sergii79"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Evgen_Vlasenko.jpg"
                alt="Evgen Vlasenko"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Evgen Vlasenko</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Vlasenko1710"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Daria.jpg"
                alt="Daria Dzhyhun"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Daria Dzhyhun</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/DariaDzhyhun"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Igor_Boiko.png"
                alt="Igor Boiko"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Igor Boiko</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/BoikoIgor"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Serhii_Halaka.jpg"
                alt="Serhii Halaka"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Serhii Halaka</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/SergH1980"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Nadin_Golubeva.png"
                alt="Nadin Golubeva"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Nadin Golubeva</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/NadeGolubeva"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Igor_Novak.jpg"
                alt="Igor Novak"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Igor Novak</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/INovak90"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Kostiantyn_Kuz.jpg"
                alt="Kostiantyn Kuz"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Kostiantyn Kuz</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/kuzkostia"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Dmitry_Kucherenko.jpg"
                alt="Dmitry Kucherenko"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Dmitry Kucherenko</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Dmytro-Kucherenko-Kyiv"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Heorhii_Mahlakelidze.jpg"
                alt="Heorhii Mahlakelidze"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Heorhii Mahlakelidze</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/GioMaglakelidze"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
          <li class="team__item">
            <div class="team__img-container">
              <img
                class="team__img"
                src="/src/images/team/Roman_Senyshyn.png"
                alt="Roman Senyshyn"
                width="200"
                height="150"
              />
            </div>
            <h3 class="team__name">Roman Senyshyn</h3>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/happy11end"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
              <svg class="git-icon" width="35" height="35">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 96">
                  <use href="/src/images/icon-gid.svg#icon-gid"></use>
                </svg>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
