<!-- <div class="auth-container overlay visually-hidden">
  <div class="modal-auth__login">
    <p>login</p>
    <form class="auth-form__login">
      <label for="emailLogin" class="auth-form__label"
        ><span class="auth-form__label_span">Email:</span>
        <input
          name="emailLogin"
          type="email"
          id="authEmailLogin"
          class="auth-form__input"
        />
      </label>
      <label for="passwordLogin" class="auth-form__label">
        <span class="auth-form__label_span">Password:</span>
        <input
          name="passwordLogin"
          type="password"
          id="authPasswordLogin"
          class="auth-form__input"
        />
      </label>
      <button type="submit" class="auth-form__btnSubmit" id="authSubmitLogin">
        Login
      </button>
      <button type="button" class="auth-form__btnToRegister registration">
        registration
      </button>
    </form>
  </div>
  <div class="modal-auth__singin visually-hidden">
    <p>singin</p>
    <form class="auth-form__singin">
      <label for="emailSingin" class="auth-form__label"
        ><span class="auth-form__label_span">Email:</span>
        <input
          name="emailSingin"
          type="email"
          id="authEmailSingin"
          class="auth-form__input"
        />
      </label>
      <label for="passwordSingin" class="auth-form__label">
        <span class="auth-form__label_span">Password:</span>
        <input
          name="passwordSingin"
          type="password"
          id="authPasswordSingin"
          class="auth-form__input"
        />
      </label>
      <button type="submit" class="auth-form__btnSubmit" id="authSubmitSingin">
        Singin
      </button>
      <button type="button" class="auth-form__btnToRegister tologin">
        to Log In
      </button>
    </form>
  </div>
</div>
<button type="button" class="open-auth">open-auth</button> -->
