<div class="backdrop-registration is-hidden" data-set="personal-cabinet">
  <form class="registration" id="formSign">
    <button class="button__close" data-set="close-cabinet" type="button">
      <svg class="button__close__icon" width="30" height="30">
        <use href="././images/icon-close.svg#close"></use>
      </svg>
    </button>
    <h2 class="registration-title">Personal Cabinet</h2>
    <label class="registration__label"
      ><span class="registration__label--text">Login</span>
      <span class="line-bottom">
        <input
          class="registration__input"
          type="email"
          name="email"
          placeholder="User name"
          required
        />
      </span>
    </label>
    <label class="registration__label"
      ><span class="registration__label--password">Password</span>
      <span class="line-bottom">
        <input
          class="registration__input"
          type="password"
          name="password"
          placeholder="Enter password"
        />
      </span>
    </label>
    <div class="registration__btn-container">
      <button class="registration-submit" type="submit" id="btnSign">
        Sign in
      </button>
      <button
        class="registration-submit registration-submit--registaration"
        data-set="registration-open"
        type="button"
      >
        Registration
      </button>
    </div>
  </form>
</div>
