<div class="backdrop-registration is-hidden" data-set="registration">
  <form class="registration" id="formReg">
    <button
      class="button__close"
      data-set="close-registration"
      type="button"
      aria-label="close form"
    >
      <svg class="button__close__icon" width="30" height="30">
        <use href="././images/icon-close.svg#close"></use>
      </svg>
    </button>
    <h2 class="registration-title">Registration</h2>
    <label class="registration__label"
      ><span class="registration__label--text">Login</span>
      <span class="line-bottom">
        <input
          class="registration__input"
          type="text"
          name="username"
          placeholder="User name"
          required
        />
      </span>
    </label>
    <label class="registration__label"
      ><span class="registration__label--text">Email</span>
      <span class="line-bottom">
        <input
          class="registration__input"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </span>
    </label>
    <label class="registration__label"
      ><span class="registration__label--password">Password</span>
      <span class="line-bottom">
        <input
          class="registration__input"
          type="password"
          name="password"
          placeholder="Enter password"
        />
      </span>
    </label>
    <div class="registration__btn-container">
      <button
        class="registration-submit"
        type="submit"
        id="btnReg"
        aria-label="send registration data"
      >
        Register
      </button>
      <button
        type="button"
        class="come-back registration__label"
        aria-label="come back"
      >
        &#8592; come back
      </button>
    </div>
  </form>
</div>
