<div class="backdrop-registration">
  <form class="registration">
    <h2 class="registration-title">Registration</h2>
    <label class="registration__label"><span class="registration__label--text">Login</span>
      <div class="line-bottom"><input class="registration__input" type="text" name="username" placeholder="User name" required></div>
    </label>
    <label class="registration__label"><span class="registration__label--text">Email</span>
      <div class="line-bottom">
        <input class="registration__input" type="text" name="email" placeholder="Enter your email" required>
      </div>
    </label>
    <label class="registration__label"><span class="registration__label--password">Password</span>
      <div class="line-bottom">
        <input class="registration__input" type="text" name="password" placeholder="Enter password">
      </div>
    </label>
    <button class="registration-submit" type="submit" disabled>Register</button>
  </form>
</div>