// .button {
//   width: 110px;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//
//   color: $dark-color;
//   background-color: transparent;
//   border-color: $dark-color;
//   border: 1px solid $dark-color;
//   border-radius: 5px;
//
//   font-weight: 500;
//   font-size: 10px;
//   line-height: calc(16 / 12);
//
//   transition: transform 300ms ease-in-out;
//
//   &.light {
//     color: $light-color;
//     border-color: $light-color;
//   }
//
//   &.active {
//     border-color: $accent-color;
//     background-color: $accent-color;
//     color: $light-color;
//   }
//
//   &:hover,
//   &:focus {
//     transform: scale(1.05);
//   }
//
//   @media screen and (min-width: $tablet) {
//     width: 125px;
//     font-size: 12px;
//   }
//
//   @media screen and (min-width: $desktop) {
//     width: 136px;
//   }
// }

.button {
  width: 110px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  color: $dark-color;
  border-color: $dark-color;
  border: 1px solid $dark-color;
  border-radius: 5px;
  background-color: transparent;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(16 / 12);

  background-image: -webkit-linear-gradient(
    45deg,
    $accent-color 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out, color 300ms;
  transition: background 300ms ease-in-out, color 300ms,
    transform 300ms ease-in-out;

  &:focus {
    color: $light-color;
    background-position: 0;
    border: 1px solid $accent-color;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @media screen and (min-width: $tablet) {
    width: 125px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.light {
  color: $light-color;
  border-color: $light-color;
}

.active {
  color: $light-color;
  border: 1px solid $accent-color;

  background-image: -webkit-linear-gradient(
    45deg,
    $accent-color 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, $accent-color 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out, color 300ms,
    transform 300ms ease-in-out;

  &:focus {
    background-position: 100%;
    color: $dark-color;
    border-color: $dark-color;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  @media screen and (min-width: $tablet) {
    width: 125px;
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.button_library {
  &:focus {
    color: $light-color;
    border-color: $light-color;
  }
}

.spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.3);
}
.spinner div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}
.spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: $accent-color;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button-trailer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px;
  margin-bottom: 5px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
